.App {
  text-align: center;
  font-family:messages
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: messages;
  src: url(
    './all.ttf'
  );
}
@font-face {
  font-family: header;
  src: url(
    './Mollen-BoldPersonalUse.otf'
  );
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-bar{
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
  padding:1%;
  height:15vw;
  background-color: rgb(231, 231, 231);
  border-radius: 0px 0px 5px 5px;
  box-shadow:0px 1px 5px rgb(0, 0, 0);
  z-index: 2;
}
.column-nowrap{
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-between;
}
.row-nowrap{
  display:flex;
  flex-flow:row nowrap;
  justify-content: center;
  padding:1%;
  margin:1%;
}
.chatbox-sent{
  text-align:start;
  align-self: end;
  max-width:40%;
  border-radius: 5%;
  padding:3%;
  margin:2%;
  background-color:rgb(221, 221, 221);
  font-family: messages;
}
.chatbox-recieved{
  text-align:start;
  align-self: start;
  max-width:40%;
  padding:3%;
  margin:2%;
  background-color:rgb(221, 221, 221);
  font-family: messages;
}
.chatbox{
  position:initial;
  height:100vw;
  overflow-y: scroll;
  align-self:center;
  width:98vw;
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-between;
}
.typing-bubble-true{
  animation-name: bubbleapprear;
  animation-duration: .4s;
  display:block;
  width:15%;
}
.typing-bubble-false{
  animation-name: bubbledisapprear;
  animation-duration: .4s;
  width:0%;
}
@keyframes bubbleapprear {
  from {width:0%;}
  to {width:15%;}
}
@keyframes bubbledisapprear {
  from {width:15%;}
  to {width:0%;}
}

.nav-link{
  all: unset;
  color:rgb(0, 53, 53);
  font-family: messages;
}
.dropdown-icon{
  width:10vw;
}

@keyframes dropdowndisappear{
  to {top:-6vw;}
  from {top:14vw;}
}
@keyframes dropdownappear{
  to {top:14vw;}
  from {top:-6vw;}
}
.dropdown-content-false{
  animation-name: dropdowndisappear;
  position:absolute;
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: start;
  top:-6vw;
  animation-duration: .4s;
  z-index: -1;
  padding:2vw;
  background-color: rgb(231, 231, 231);
  border-radius: 0px 0px 5px 5px;
  box-shadow:0px 1px 5px rgb(0, 0, 0);
}
.dropdown-content-true{
  position:absolute;
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: start;
  top:14vw;
  animation-name: dropdownappear;
  animation-duration: .4s;
  z-index: -1;
  padding:2vw;
  background-color: rgb(231, 231, 231);
  border-radius: 0px 0px 5px 5px;
  box-shadow:0px 1px 5px rgb(0, 0, 0);
}
.dropdown{
  position: relative;
}

.login-icon{
  justify-self:end;
  width:70%;
  padding:1.5%;
}
@keyframes loginndisappear{
  to {top:-25vw;}
  from {top:13.5vw;}
}
@keyframes loginappear{
  to {top:13.5vw;}
  from {top:-25vw;}
}
.login-content-false{
  animation-name: loginndisappear;
  position:absolute;
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: start;
  top:-25vw;
  right:1vw;
  animation-duration: .6s;
  z-index: -1;
  padding:2vw;
  background-color: rgb(231, 231, 231);
  border-radius: 0px 0px 5px 5px;
  box-shadow:0px 1px 5px rgb(0, 0, 0);
}
.login-content-true{
  position:absolute;
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: start;
  top:13.5vw;
  right:1vw;
  animation-name: loginappear;
  animation-duration: .6s;
  z-index: -1;
  padding:2vw;
  background-color: rgb(231, 231, 231);
  border-radius: 0px 0px 5px 5px;
  box-shadow:0px 1px 5px rgb(0, 0, 0);
}

.input{
  border:none;
  margin:2px;
  border-radius:1vw;
  padding: 1vw;
  font-family: messages;
}
.button{
  border:none;
  margin:2px;
  border-radius:1vw;
  padding: 1vw;
  font-family: messages;
}

.conversation-card{
  align-self:center;
  width:95vw;
  background-color: rgb(221, 221, 221);
  margin:1vw;
  padding: 1vw;
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-between;
  align-items:start;
  border-radius: 2vw;
}
.conversations-container{
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
}
.conversation-card-name{
  padding:1.5vw;
  padding-bottom:.75vw;
}
.conversation-card-message{
  padding:1.5vw;
  padding-top:.75vw;
  color:grey;
}

@keyframes chatappear{
  from {right:-100vw;}
  to {right:0vw;}
}
@keyframes chatdisappear{
  from {right:0vw;}
  to {right:-100vw;}
}
.chatbox-container-true{
  position:absolute;
  right:0vw;
  animation-name:chatappear;
  animation-duration: .5s;
  max-height:100px;
  top:0px;
  bottom:0px;
}
.chatbox-container-false{
  position:absolute;
  animation-name:chatdisappear;
  animation-duration: .5s;
  right:-100vw;
  max-height:90vw;
  top:0px;
  bottom:0px;
}

@keyframes conversationsappear{
  from {left:-100vw;}
  to {left:0vw;}
}
@keyframes conversationsdisappear{
  from {left:0vw;}
  to {left:-100vw;}
}
.conversations-container-true{
  position:absolute;
  animation-name:conversationsappear;
  animation-duration: .5s;
  left:0vw; 
}
.conversations-container-false{
  position:absolute;
  position: relative;
  animation-name:conversationsdisappear;
  animation-duration: .5s;
  left:-100vw; 
}