.App {
  text-align: center;
  font-family:messages;
  color:rgb(202, 220, 234);
  background-color: rgb(201, 211, 220);
  height:100vh;
  z-index:-3;
  overflow:hidden;
}

@font-face {
  font-family: messages;
  src: url(
    './all.ttf'
  );
}
@font-face {
  font-family: header;
  src: url(
    './Mollen-BoldPersonalUse.otf'
  );
}
.homepage{
  color: rgb(84, 104, 121);
  font-size:1.1em;
  padding:5vh;
}
.nav-bar{
  position:relative;
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
  height:7vh;
  background-color: rgb(84, 104, 121);
  border-radius: 0px 0px 5px 5px;
  box-shadow:0px .75px 7px rgb(0, 0, 0);
  z-index: 2;
}
.column-nowrap{
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-content:center;
}
.row-nowrap{
  display:flex;
  flex-flow:row nowrap;
  padding:1%;
  margin:1%;
}
.name-back{
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  width:100%;
  padding:1%;
  margin:1%;
}

@keyframes messageappear {
  from {width:0%;}
  to {width:15%;}
}
@keyframes messagedisappear {
  from {width:15%;}
  to {width:0%;}
}
.chatbox-sent{
  text-align:start;
  align-self: end;
  max-width:40%;
  border-radius:7px 7px 0px 7px;
  padding:3%;
  margin:2%;
  animation-duration:.2s;
  background-color:rgb(215, 226, 235);
  font-family: messages;
}
.chatbox-recieved{
  text-align:start;
  align-self: start;
  max-width:40%;
  padding:3%;
  margin:2%;
  background-color:rgb(215, 226, 235);
  font-family: messages;
  border-radius:7px 7px 7px 0px;
}
.chatbox{
  position:relative;
  border:5px solid rgb(114, 135, 153);;
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  position:initial;
  height:79vh;
  overflow-y: scroll;
  align-self: center;
  justify-self: center;
  width:90vw;
  display:flex;
  flex-flow:column nowrap;
  justify-content: start;
  box-shadow:0px 2px 10px  grey
}
.typing-bubble-true{
  animation-name: bubbleapprear;
  animation-duration: .3s;
  display:block;
  width:30%;

}
.bubble-chat{
  position:relative;
  left:-10px;
}
.typing-bubble-false{
  animation-name: bubbledisapprear;
  animation-duration: .3s;
  display:block;
  width:0%;
}
@keyframes bubbleapprear {
  from {width:0%;}
  to {width:30%;}
}
@keyframes bubbledisapprear {
  from {width:30%;}
  to {width:0%;}
}

.nav-link{
  all: unset;
  color: rgb(90, 112, 130);
  font-family: messages;
  padding-left:.5vw;
  padding-right:.5vw;
  font-size:1.1em;
}
.dropdown-icon{
  width:5vh;
  left:2vw;
  top:-2.5vh;
  padding:10px;
  z-index:1;
}

@keyframes dropdowndisappear{
  to {top:-40vh;}
  from {top:5vh;}
}
@keyframes dropdownappear{
  to {top:5vh;}
  from {top:-40vh;}
}
.dropdown-content-false{
  animation-name: dropdowndisappear;
  position:absolute;
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: start;
  top:-40vh;
  animation-duration: .4s;
  z-index: 1;
  left:1vw;
  padding:1vh;
  padding-top:3vh;
  color: rgb(90, 112, 130);
  background-color: rgb(231, 231, 231);
  border-radius: 0px 0px 5px 5px;
  box-shadow:0px 1px 5px rgb(0, 0, 0);
}
.dropdown-content-true{
  position:absolute;
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: start;
  top:5vh;
  animation-name: dropdownappear;
  animation-duration: .4s;
  z-index: 1;
  left:1vw;
  padding:1vh;
  padding-top:3vh;
  color: rgb(90, 112, 130);
  background-color: rgb(231, 231, 231);
  border-radius: 0px 0px 5px 5px;
  box-shadow:0px 1px 5px rgb(0, 0, 0);
}
.dropdown{
  position: relative;
}

.login-icon{
  margin:10px;
  width:8vw;
  min-width:30px;
  max-width:50px;
}
@keyframes loginndisappear{
  to {top:-40vh;}
  from {top:5vh;}
}
@keyframes loginappear{
  to {top:5vh;}
  from {top:-40vh;}
}
.login-content-false{
  animation-name: loginndisappear;
  position:absolute;
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: start;
  top:-40vh;
  right:1vw;
  animation-duration: .4s;
  z-index: 1;
  padding:2vh;
  padding-top:3vh;
  color: rgb(90, 112, 130);
  background-color: rgb(231, 231, 231);
  border-radius: 0px 0px 5px 5px;
  box-shadow:0px 1px 5px rgb(0, 0, 0);
}
.login-content-true{
  position:absolute;
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: start;
  top:5vh;
  right:1vw;
  animation-name: loginappear;
  animation-duration: .4s;
  z-index: 1;
  padding:2vh;
  padding-top:3vh;
  color: rgb(90, 112, 130);
  background-color: rgb(231, 231, 231);
  border-radius: 0px 0px 5px 5px;
  box-shadow:0px 1px 5px rgb(0, 0, 0);
}

.input{
  border:none;
  margin:2px;
  border-radius:1vw;
  padding: 1vw;
  font-family: messages;
  color: rgb(90, 112, 130);
}
.button{
  border:none;
  margin:2px;
  border-radius:1vw;
  padding: 1vw;
  font-family: messages;
  color: rgb(47, 63, 76);
}
.your-conversations{
  font-size:1.4em;
  padding:1vh;
  padding-top:2.4vh;
  color: rgb(84, 104, 121);
}
.conversation-card{
  align-self:center;
  width:90%;
  background-color: rgb(221, 229, 235);
  color: rgb(90, 112, 130);
  margin-left:3vw;
  margin-right:3vw;
  margin-top:2vh;
  margin-bottom:2vh;
  padding: 1vw;
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-between;
  align-items:start;
  border-radius: 2vw;
}
.conversations-container{
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
}
.conversation-card-name{
  padding:1.5vw;
  padding-bottom:.75vw;
}
.conversation-card-message{
  padding:1.5vw;
  padding-top:.75vw;
  color:rgb(142, 142, 142);
}

@keyframes chatappear{
  from {right:-100vw;}
  to {right:0vw;}
}
@keyframes chatdisappear{
  from {right:0vw;}
  to {right:-100vw;}
}
.display-message{
  padding:5px;
  font-size:1.3em;
}
.chatbox-container-true{
  position:absolute;
  animation-name:chatappear;
  animation-duration: .5s;
  height:93vh;
  top:0px;
  bottom:0px;
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
  justify-items: center;
  width:100%;
  color: rgb(90, 112, 130);
}
.chatbox-container-false{
  position:absolute;
  animation-name:chatdisappear;
  animation-duration: .5s;
  right:-100vw;
  height:93vh;
  height:100%;
  top:0px;
  bottom:0px;
  display:flex;
  flex-flow:column nowrap;
  width:100%;
  color: rgb(90, 112, 130);
}

@keyframes conversationsappear{
  from {left:-200vw;}
  to {left:0vw;}
}
@keyframes conversationsdisappear{
  from {left:0vw;}
  to {left:-200vw;}
}
.conversations-container-true{
  position:absolute;
  animation-name:conversationsappear;
  animation-duration: .5s;
  left:0vw; 
  overflow-y:scroll;
  width:100%;
}
.conversations-container-false{
  position:absolute;
  animation-name:conversationsdisappear;
  animation-duration: .5s;
  left:-200vw; 
  overflow-y:scroll;
  width:100%;
}
.conversations{
  display:inline-block;
  position:relative;
  height:94.5vh;
  width:100vw;
  overflow-x:hidden;
  overflow-y:scroll
}
.back-icon{
  width:10%;
  max-width:30px;
  justify-self:start;
  padding-left:3vw;
}
.contact-name{
  align-self:center;
  justify-self:end;
  font-size:1.5em;
  padding-right:3vw;
  color: rgb(90, 112, 130);
}
.conversation-area{
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-content:center;
}
.conversations-list{
  background-color:white;
  border:5px solid rgb(183, 199, 211);
  padding:10px;
  border-radius:20px;
  overflow-y:scroll;
  max-height:78vh;
  margin:15px;
  box-shadow:0px 2px 10px  grey
}
.add-friends{
  background-color: rgb(221, 229, 235);
  display:flex;
  padding:1vw;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-self:center;
  width:90%;
  background-color: rgb(221, 229, 235);
  margin-left:3vw;
  margin-right:3vw;
  margin-top:2vh;
  margin-bottom:2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 2vw;
}
.add-friends-button{
  border:none;
  margin-right:2vh;
  border-radius:1vw;
  padding: 1vw;
  width:13%;
  height:5%;
}
.add-input{
  border:3px solid #7a8ea2;
  border-radius:1vw;
  font-family: messages;
  color: rgb(90, 112, 130);
}
.send-quick{
  color:#ECF0F1;
  font-size:1.5em;
}
.conversations-list::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.App::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.conversations-container-true::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.conversations-container-false::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.conversations::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.chatbox::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.message-form{
  position:absolute;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items:center;
  bottom:3vh;
  height:3vh;
  width:100%;
  color: rgb(70, 91, 109);
}
.message-input{
  border:none;
  margin:2px;
  border-radius:1vw;
  padding: 2vw;
  width:60%;
  font-family: messages;
  margin-left:2vw;
  box-shadow:0px 2px 10px  grey
}
.send{
  border:none;
  margin:2px;
  border-radius:1vw;
  padding: 1vw;
  font-family: messages;
  font-size:1.1em;
  color: rgb(47, 63, 76);
  box-shadow:0px 2px 10px  grey
}