.App {
  text-align: center;
  font-family:messages
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: messages;
  src: url(
    './all.ttf'
  );
}
@font-face {
  font-family: header;
  src: url(
    './Mollen-BoldPersonalUse.otf'
  );
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-bar{
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
  padding:1%;
  height:15vw;
  background-color: rgb(231, 231, 231);
  border-radius: 0px 0px 5px 5px;
  box-shadow:0px 1px 5px rgb(0, 0, 0);
}
.column-nowrap{
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-between;
  padding:5%;
  margin:10%;
}
.row-nowrap{
  display:flex;
  flex-flow:row nowrap;
  justify-content: center;
  padding:1%;
  margin:1%;
}
.chatbox-sent{
  text-align:start;
  align-self: end;
  max-width:40%;
  border-radius: 5%;
  padding:3%;
  margin:2%;
  background-color:rgb(221, 221, 221);
  font-family: messages;
}
.chatbox-recieved{
  text-align:start;
  align-self: start;
  max-width:40%;
  padding:3%;
  margin:2%;
  background-color:rgb(221, 221, 221);
  font-family: messages;
}
.chatbox{
  max-height:30vw;
  overflow-y: scroll;
  align-self:center;
  width:60%;
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-between;
  padding:5%;
}
.typing-bubble-true{
  animation-name: bubbleapprear;
  animation-duration: .4s;
  display:block;
  width:15%;
}
.typing-bubble-false{
  animation-name: bubbledisapprear;
  animation-duration: .4s;
  width:0%;
}
@keyframes bubbleapprear {
  from {width:0%;}
  to {width:15%;}
}
@keyframes bubbledisapprear {
  from {width:15%;}
  to {width:0%;}
}
@keyframes dropdownappear{
  from {width:15%;}
  to {width:0%;}
}
@keyframes dropdowndisappear{
  to {top:-4vw;}
  from {top:14vw;}
}
@keyframes dropdownappear{
  to {top:14vw;}
  from {top:-4vw;}
}
.nav-link{
  all: unset;
  color:rgb(0, 53, 53);
  font-family: messages;
}
.dropdown-icon{
  width:10vw;
}
.login-icon{
  width:8.5%;
  padding:1.5%;
}
.dropdown-content-false{
  animation-name: dropdowndisappear;
  position:absolute;
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: start;
  top:-4vw;
  animation-duration: .4s;
  z-index: -1;
  padding:2vw;
  background-color: rgb(231, 231, 231);
  border-radius: 0px 0px 5px 5px;
  box-shadow:0px 1px 5px rgb(0, 0, 0);
}
.dropdown-content-true{
  position:absolute;
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: start;
  top:14vw;
  animation-name: dropdownappear;
  animation-duration: .4s;
  z-index: -1;
  padding:2vw;
  background-color: rgb(231, 231, 231);
  border-radius: 0px 0px 5px 5px;
  box-shadow:0px 1px 5px rgb(0, 0, 0);
}
.dropdown{
  position: relative;
}